<div class="title">
    <h1>Ajouter ou afficher la liste des clients</h1>
</div>
<div class="container">
    <form id="myForm" class="needs-validation"  novalidate (ngSubmit)="submitUser()">
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom" required id="nom" name="nom" [(ngModel)]="formDataUser.lastName">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
    
            <div class="col-md-5 mb-3">
                <label>Prénom</label>
                <input type="text" class="form-control" placeholder="Prénom" required id="prenom" name="prenom" [(ngModel)]="formDataUser.firstName">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
    
            <div class="col-md-5 mb-3">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" required id="email" name="email" [(ngModel)]="formDataUser.email">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>

            <div class="col-md-5 mb-3">
                <label>Téléphone</label>
                <input type="text" class="form-control" placeholder="Téléphone" required id="tel" name="tel" [(ngModel)]="formDataUser.tel">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>

            <div class="col-md-5 mb-3">
                <label>Adresse</label>
                <input type="text" class="form-control" placeholder="Adresse" required id="adresse" name="adresse" [(ngModel)]="formDataUser.adresse">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
    
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            
        </div>
    </form>

    <div class="list">
        <div>
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition 
                et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de 
                l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla 
                ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
            <button class="btn btn-success" (click)="toggleContentVisibility()" routerLink="/client">Afficher</button>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
