<div class="title">
    <h1>Bienvenue</h1>
</div>
<div class="container">
    <div class="box1">
        <img src="../assets/images/img1.jpg" alt="">

    </div>
    <div class="box2">
        <img src="../assets/images/contact.png" alt="contact">

    </div>
    <div class="box3">
        <img src="../assets/images/commande.png" alt="livraison">
    </div>
    <div class="box4">
        <img src="../assets/images/livraison.png" alt="livraison">
    </div>
</div>
<div class="image">
    <img src="../assets/images/img2.jpg" alt="">

</div>

<app-footer></app-footer>



