.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    margin-bottom: 60px;
    padding: 20px;
   

    
    
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.box1 {
    width: 200px;
    height: 400px;
    margin: auto;
}
.box2 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    margin: auto;
}
.box3 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    margin: auto;
}
.box4 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    margin: auto;
}

/* image */

.image{
    width: 1100px;
    height: 1000px;
    margin: auto;
    margin-bottom: 60px;
}
.box1 > img{
    width: 200px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.image > img {
    width: 1100px;
    height: 1000px;
    border: none;
}